<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>

<body>

<script>
var app = angular.module("myShoppingList", []); 

app.run(function($rootScope) {
    $rootScope.error = false;
});

app.controller("myCtrl", function($scope) {
    $scope.products = ["Milk", "Bread", "Cheese"];
	
    $scope.addItem = function () {
	
	   if($scope.products.indexOf($scope.addMe) == -1){
	      $scope.products.push($scope.addMe);
	   }else{
	     $scope.error = $scope.addMe;
		 $('.error').show(); 
		  setTimeout(function() {
		  $scope.error = 0;
		  $('.error').hide(); 
		  }, 1000);
	   }
        
    }    
    $scope.removeItem = function (x) {
        $scope.products.splice(x, 1);
    }
});
</script>

<div class="container col-lg-4 col-lg-offset-4">
	<div class="form-group" ng-app="myShoppingList" ng-controller="myCtrl">
	    
        <ul class="list-group">
		   <li ng-if="error != '0'" class="list-group-item list-group-item-danger text-center error">
				Product {{error}} already present in cart.
		   </li>
		</ul>
 		
	    <ul class="list-group">
		    
			  <li ng-repeat="x in products" class="list-group-item d-flex justify-content-between align-items-center">
				{{x}}
				<span ng-click="removeItem($index)" class="glyphicon glyphicon-remove pull-right"></span>
			  </li>
		</ul>
	 
      <div class="row">	 
		  <input class="form-control" ng-model="addMe">
		  <button ng-click="addItem()" class="btn btn-success">Add</button>
	  </div>
	  
	</div>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
